.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0px;

  .startcontainer {
    display: flex;
    width: 100%;
    min-height: 280px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    h2{
      color: var(--primary);
    }

    span {
      font-size: 14px;
      padding-bottom: 50px;
    }

  }

  .containerFinished{
    display: flex;
    width: 100%;
    min-height: 280px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .containerQuestion{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .containerButtons{
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .helpButton{
      width: 35px;
      height: 35px;
      border-radius: 5px ;
      border: none;
      font-size: 24px;
      color: var(--text);
      background-color: var(--primary);
      cursor: pointer;

      &:hover{
        background-color: var(--accent);
      }
    }
  }

}

.quizButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--accent);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.error {
  color: red;
  margin-top: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 100%;

  button {
    padding: 10px;
    border: 1px solid var(--border);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #b6b6b6;
    font-size: 16px;
    cursor: pointer;
    
    &:hover {
      background-color: var(--primary);
    }
    
    &:disabled {
      // background-color: #eeeeee;
      cursor: not-allowed;
      
    }
  }
  .selected {
    color: var(--text);
    background-color: var(--accent);
  }
}
