.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    min-height: 90vh;
    flex-direction: column;

    .logo {
        margin: 0 auto;
        padding-bottom: 32px;
    }

    .container {
        display: flex;
        width: 100vw;
        max-width: 1220px;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
        align-items: start;
    
        .left {
            width: 90%;
            max-width: 600px;
            min-width: 300px;
            background-color: var(--secondary);
            border-radius: 12px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
            text-align: center;
            height: auto;
            min-height: 300px;
            display: flex;
            align-items: center;
        }
    
        .right {
            width: 90%;
            max-width: 600px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            background-color: var(--secondary);
            border-radius: 12px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
            align-items: center;
            justify-content: center;
            min-height: 300px;
            height: auto;
    
    
            p {
                font-size: 18px;
                width: 100%;
                text-align: center;
                color: var(--text);
                margin-top: 20px;
            }
    
            h2{
                color: var(--primary);
            }
        }
    }


}
