
.footer {
    margin: 0 auto;
    padding: 24px 0px 16px 0px;

    .p{
        color: var(--text);

        a{
            color: var(--primary);
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: var(--accent);
            }
        }
    }
}